{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center"> Twoje wyniki </h1>
    <div class="content-section">
        <div style="margin: 10px;">
            <h3 style="text-align: center"> Najlepszym ćwiczeniem dla Ciebie będą <br>
                <bold><a href="{{ url_for('wizualizacje') }}" style="color: olivedrab"> ćwiczenia wizualizacyjne </a>
                </bold>
            </h3>

              <table border="1" style=" margin:10%; padding: 3%">
                <td>
            <h6 style="display: block; margin-left: 10%; font-weight: bold; padding: 3% "> Pamiętaj! </h6> <br>
            <p style="display: block; margin-left: 10%"> To, co jest za nami, i to, co jest przed nami, to drobnostka w porównaniu z tym, co tkwi w nas samych.
                    <p style=" text-align: right; margin: 2%"> ~ Ralph Waldo Emerson </p>

                </td>
                </table>

            <p style="display: block"> Twoja wyobraźnia odgrywa ważną rolę w życiu. Twoja kreatywność jest Twoją ogromną
                zaletą. Wykorzystaj to, by osiągnąć wewnętrzny spokój.

            <p style="display: block"> Mózg nie odróżnia obrazów faktycznych od wyobrażeniowych. Dobrym przykładem tego
                jest emocjonalne przeżywanie scen w filmie. <br>

                Wiedząc, jak pracuje mózg, możesz stosować wizualizację jako
                jedną z technik relaksacyjnych. <br>
                Warto tworzyć obrazy, które wspierają rozwój, odprężają, motywują.



        </div>

    </div>
{% endblock content %}