{% extends "layout.html" %}
{% block content %}
    <h1 style="margin: 10px"> Dlaczego relaks jest ważny? </h1>

    <div class="content-section">
        <div style="display: block">
            <h3 style="margin: 3%"> Problem z relaksem </h3>

            <p style="margin: 2%"> Współczesnemu człowiekowi trudno się zrelaksować.
                Mózg musi przetwarzać miliony informacji na minutę.
                Osoba, której mózg funkcjonuje w trybie ciągłej aktywności <br>
                i rozproszenia uwagi, nie potrafi się zrelaksować.
                Za tę sytuację odpowiedzialne są hormony stresu: adrenalina
                i kortyzol, których nadmiar zaburza wewnętrzną równowagę
                organizmu.
            </p>
        </div>
        <div style="display: block">

            <h3 style="margin: 3%"> Czym jest stres? </h3>

            <p style="margin: 2%"> Stres to reakcja organizmu
                na wydarzenia, które zakłócają jego równowagę,
                obciążają lub przekraczają zdolności do skutecznego
                poradzenia sobie z problemem. Wspomniane wydarzenia zakłócające określamy
                jako stresory. <br>
                Ich źródło może być zarówno fizyczne:
            <li style="margin-left: 2%"> hałas,</li>
            <li style="margin-left: 2%"> przeludnienie,</li>
            <li style="margin-left: 2%"> choroby,</li>
            <li style="margin-left: 2%"> katastrofy naturalne,</li>
            </p>

            <p style="margin-left: 2%"> jak i społeczne:
            <li style="margin-left: 2%"> brak zatrudnienia,</li>
            <li style="margin-left: 2%">ciąża i poród,</li>
            <li style="margin-left: 2%"> problemy rodzinne,</li>
            <li style="margin-left: 2%"> utrata ukochanej osoby,</li>
            <li style="margin-left: 2%"> przestępczość.</li>

            </p>
        </div>
        <div style="display: block">
            <h3 style="margin: 3%"> Jak nadmiar stresu wpływa na organizm? </h3>
            <p style="margin-left: 2%"> Wszystkie drobne wskazówki, jakie podświadomie rejestrujemy
                w trakcie wykonywania różnych czynności (np. ton głosu rozmówcy,
                kolor przejeżdżającego autobusu), jak również zmiany <br> w naszym
                własnym, wewnętrznym krajobrazie (przełykanie, częstość oddechów),
                są łączone przez pojedynczy układ kontrolny. </p>
            <p style="margin-left: 2%"> Wszystkie stanowią efekt synchronizacji dwóch części autonomicznego
                układu nerwowego: <br>
            <li style="margin-left: 2%"> współczulnej(sympatycznej),</li>
            <li style="margin-left: 2%"> przywspółczulnej(parasympatycznej).</li>
            </p>
            <p style="margin-left: 2%"> Współpracując, pełnią istotną funkcję w zarządzaniu przepływem energii.
                Jeden przygotowuje nas do jej wydatkowania, drugi- do zachowania. </p>


        </div>
        <div style="display: block">
            <h3 style="margin: 3%"> Zadanie: </h3>
            <p style="margin-left: 2%"> Weź głęboki oddech- teraz pobudzasz współczulną część układu nerwowego. <br>
                Następuje wyrzut adrenaliny, która przyspiesza bicie serca. <br>
                Wypuść powietrze- pobudzasz przywspółczulny układ nerwowy, tętno spowalnia. <br>

            </p>
        </div>
        <div style="display: block">
            <h3 style="margin: 3%"> 7 sposobów na redukcję stresu </h3>
            <li style="font-weight: bold; margin-left: 3%"> Relaks i odpoczynek</li>
            <p style="margin-left: 2%"> Stosuj zawarte na stronie techniki relaksacyjne, szczególnie te wykonywane w
                pozycji leżącej. <br> W chwilach
                wzmożonego stresu możesz praktykować relaksację codziennie, np. przed zaśnięciem lub po przyjściu z
                pracy. To pozwoli Ci zregenerować ciało i umysł zanim przystąpisz do innych czynności. </p>
            <li style="font-weight: bold; margin-left: 3%"> Regenerujący sen</li>
            <p style="margin-left: 2%"> Jeżeli doświadczasz stresu, niech sen stanie się jedym z Twoich priorytetów.
            <ul><h6> Rady odnośnie snu </h6>
                <li style="margin-left: 2%"> Postaraj się kłaść nieco wcześniej niż zwykle.</li>
                <li style="margin-left: 2%"> Przewietrz pokój.</li>
                <li style="margin-left: 2%"> Unikaj oglądania telewizji i filmów 1,5 godziny przed położeniem się do
                    łóżka.
                </li>
                <li style="margin-left: 2%"> Nie jedz wieczorem ciężkich posiłków.</li>
        </ul>

                </p>
                <li style="font-weight: bold; margin-left: 3%"> Ruch i aktywność fizyczna</li>
                <p style="margin-left: 2%"> Prowadź aktywne życie: spaceruj, organizuj wycieczki rowerowe. Jeśli jesteś
                    wyczerpany fizycznie, spędzaj dużo czasu wśród drzew. </p>
                <li style="font-weight: bold; margin-left: 3%"> Rozmowa od serca z bliską osobą</li>
                <p style="margin-left: 2%"> Kiedy przeżywasz stresujące chwile, podziel się z kimś tym, jak się czujesz
                    i co
                    jest dla Ciebie trudne. Jeśli nie masz takiej osoby, porozmaawiaj z psychoterapeutą czy
                    psychologiem.
                    Dzięki temu możesz poczuć ulgę oraz otrzymać zastrzyk pozytywnej energii. </p>
                <li style="font-weight: bold; margin-left: 3%"> Spotkanie towarzystkie</li>
                <p style="margin-left: 2%"> Dzięki spotkaniom towarzystkim lub kulturalnym choć na chwilę uwolnisz się
                    od
                    problemów <br> i stresu. Podczas rozmowy zaproponuj jakiś ciekawy temat. Jeśli wybierzesz kino lub
                    koncert,
                    spróbuj być w pełni tu i teraz. Dzięki temu oderwiesz swój umysł od zamartwiania się. </p>
                <li style="font-weight: bold; margin-left: 3%"> Zmiana negatywnych nawyków myślowych</li>
                <p style="margin-left: 2%"> Sprawdź, czy Twoje codzienne myśli i słowa nie podsycają stresu i
                    wyczerpania.
                <ul> Przykłady nawykowych, negatywnych sformułowań:
                    <li style="margin-left: 2%"> "Już nie daję rady",</li>
                    <li style="margin-left: 2%"> "Wszyscy są przeciwko mnie",</li>
                    <li style="margin-left: 2%"> "Ale mi ciężko",</li>
                    <li style="margin-left: 2%"> "Jestem wyczerpany".</li>
                </ul>

                </p>
                <p style="margin-left: 2%"> Jeżli powtarzasz tego typu zdania, mózg będzie podtrzymywał rekację
                    stresową.
                    Jak temu zapobiec?
                <li style="margin-left: 4%"> Spróbuj dostrzec chwilę, kiedy myślisz negatywnie lub wypowiadasz
                    destrukcyjne
                    sformulowania.
                </li>
                <li style="margin-left: 4%"> Świadomie powiedz coś, co może pomóc obniżyć siłę stresu: "Potrzebuję się
                    wyciszyć", "Musze zadbać wreszcie o siebie".
                </li>
                </p>
                <li style="font-weight: bold; margin-left: 3%"> Rozwijanie zainteresowań</li>
                <p style="margin-left: 2%"> Znajdź czas na rozwijanie swoich zainteresować i pasji. Dzięki zrobieniu
                    tego,
                    co kiedyś sprawiało Ci przyjemność, poziom hormonów stresu się obniży. </p>

        </div>


    </div>




{% endblock content %}
