{% extends "layout.html" %}
{% block content %}


    <article class="media content-section">
        <div class="media-body" style="width: 100%">
            <h1 style="width: 100%"> Regulamin dodawania nowych ćwiczeń </h1>
            <p>
            1. Przesyłając ćwiczenia akceptujesz regulamin strony. <br>
            2. Celem portalu jest dzielenie się ćwiczeniami relaksacyjnymi, które mogą być pomocne dla innych
            użytkowników. <br>
            3.
            <ul> Ćwiczenia muszą spełniać założenia strony:
                <li> muszą być krótkie (nie dłuższe niż 30 minut),</li>
                <li> podany czas musi być wyrażony w minutach,</li>
                <li> długość tekstu nie może przekraczać 1000 znaków,</li>
                <li> ćwiczenia nie mogą się powtarzać.</li>
            </ul>
            4. Wstawianie innych materiałów niż wyżej wymienione skutkuje usunięciem ćwiczenia,a w razie powtarzających
            się sytuacji usunięciem konta użytkownika przez administratora. <br>
            5. Niedozwolone są treści wulgarne, o charakterze przemocowym oraz takie, które mogą obrazić inne osoby.
            <br>
            6. Wszelkie kwestie niezawarte w regulaminie rozstrzygane są przez administratora. <br>
            </p>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">

            <h1 style="width: 100%"> Treści umieszczone na stronie </h1>
            <p>

            1. Gmitrzak D., Trening relaksacji. Jak uwolnić się od stresu, lęku i depresji, Warszawa, Samo Sedno, 2017.
            <br>
            2. Hayes L., Bailey A., Ciarrochi J., W pułapce myśli. Dla nastolatków. Jak skutecznie poradzić sobie z
            depresją, stresem i lękiem, Sopot, Gdańskie Wydawnictwo Psychologiczne, 2021. <br>
            3. Herkert R., Relaks w 90 sekund, Katowice, Dom Wydawniczo-Księgarski KOS, 1995. <br>
            4. Sapolsky R. M., Dlaczego zebry nie mają wrzodów? Psychofizjologia stresu, Warszawa, Wydawnictwo Naukowe
            PWN, 2012. <br>
            5. Smith K., Nie wszystko będzie źle. Jak pokonać własną niepewność, przezwyciężyć własny lęk <br> i
            osiągnąć
            stan
            spokoju, Kraków, Kraków, Społeczny Instytut Wydawniczy Znak, 2020. <br>
            6. Zieliński P., Relaksacja w teorii i praktyce pedagogicznej, Częstochowa, Wydawnictwo im. Stanisława
            Podobińskiego Akademii im. Jana Długosza, 2011. <br> </p>

            <p style="font-weight: bold"> Źródła internetowe:
            <p>
            <p>
                1. Informacje odnośnie technik relaksacji
                http://sensownie.com/techniki-relaksacyjne/, <br> dostęp 18.05.2021 <br>
                2. Artykuł dotyczący stresu i technik relaksacji
                https://www.pokonajlek.pl/relaksacja/, <br> dostęp 18.05.2021 </p>

            <h5 style="font-weight: bold"> Umieszczone grafiki- Open Access </h5>
            <p style="margin-bottom: 5%">
                1. https://www.bardzokobieco.pl/techniki-wizualizacji-i-relaksacji-w-arteterapii/ <br>
                2. https://www.bardzokobieco.pl/wp-content/uploads/2018/01/abstrakcyjna-konstrukcja.jpg <br>
                3. https://biomed.org.pl/wp-content/uploads/2020/11/Minfulness-1200x630.png <br>
                4. https://pixabay.com/pl/images/search/podr%C3%B3%C5%BCuj%C4%85cy/ <br>
                5. https://cdn.pixabay.com/photo/2014/07/13/08/31/stress-391657_960_720.jpg </p>
        </div>
    </article>

{% endblock content %}