{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center"> Twoje wyniki </h1>
    <div class="content-section">
        <div style="margin: 10px;">
            <h3 style="text-align: center"> Najlepszym ćwiczeniem dla Ciebie będą <br>
                <bold><a href="{{ url_for('oddech') }}" style="color: olivedrab"> ćwiczenia oddechowe </a></bold>
            </h3>
            <table border="1" style=" margin:10%; padding: 3%">
                <td>
            <h6 style="display: block; margin-left: 10%; font-weight: bold; padding: 3% "> Pamiętaj! </h6> <br>
            <p style="display: block; margin-left: 10%"> Czas na relaks jest wówczas, <br> kiedy nie masz na niego czasu.

            <p style="text-align: right; margin: 2%"> Sydney J. Harris </p>
                </td>
                </table>

            <p style="display: block; margin: 5%"> Ćwiczenia oddechowe możesz wykonywać w każdym miejscu i o każdej
                porze. Staraj się nie rozpraszać, wycisz muzykę, zamknij drzwi do pokoju.
                <br> To pozwoli lepiej skupić ci się na oddechu </p>
            <p style="display: block; margin: 5%"> Wynik wskazuje, że jesteś osobą, która często doświadcza stresu,
                jest jednocześnie bardzo ambitna i czasami ciężko jej znaleźć czas dla innych. <br>
                Jesteś pracowity, rywalizacja może sprawiać Ci przyjemność. </p>



            <p style="display: block; margin: 5%"> Emocje są ściśle powiązane z oddechem. Kiedy doświadczasz stresu, jesteś zdenerwowany, oddech staje się
                płytki. Zdarza się również, że wstrzymujesz go <br>  w najbardziej stresujących momentach. </p>
            <p style="display: block; margin: 5%"> Kiedy przeżywasz smutek, wdech masz zazwyczaj pełniejszy od wydechu, <br> a oddech powolny. Jeśli umysł jest
                wyciszony, oddech automatycznie się uspokaja.
            </p>


        </div>
    </div>
{% endblock content %}