{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center"> Twoje wyniki </h1>
     <div class="content-section">
        <div style="margin: 10px;">
           <h3 style="text-align: center"> Najlepszym ćwiczeniem dla Ciebie będą <br> <bold> <a href="{{ url_for('mindfullness') }}"> ćwiczenia mindfullness</a> </bold> </h3>




       <p style="display: block"> Ćwiczenia mindfullness skupiają się na tu i teraz. Skup się na swoim ciele, oddechu, poczuj wszystkie bodźce, które do ciebie napływają.  </p> <br>
            <ul> Co jest ważne w technice mindfullness?
            <li> Nieosądzanie </li>
            <li>Cierpliwość</li>
            <li>Umysł początkującego</li>
            <li>Ufność</li>
            <li>Niedążenie </li>
            <li>Akceptacja</li>
            <li>puszczanie</li>
            </ul>



        </div>

     </div>
{% endblock content %}