{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center"> Twoje wyniki </h1>
     <div class="content-section">
        <div style="margin: 10px;">
           <h3 style="text-align: center"> Najlepszym ćwiczeniem dla Ciebie będą <br> <bold> <a href="{{ url_for('oddech') }}"> ćwiczenia oddechowe </a> </bold> </h3>




       <p style="display: block; margin: 10%">  Ćwiczenia oddechowe możesz wykonywać w każdym miejscu i o każdej porze. Staraj się nie rozpraszać, wycisz muzykę, zamknij drzwi do pokoju.
           <br> To pozwoli lepiej skupić ci się na oddechu </p>
           <p style="display: block; margin: 10%">    Wynik wskazuje, że jesteś osobą, która często doświadcza stresu, jest jednocześnie bardzo ambitna i czasami ciężko jej znaleźć czas dla innych. <br>
               Jesteś pracowity, rywalizacja może sprawiać Ci przyjemność. </p>

            <h6 style="display: block; margin-left: 10%; font-weight: bold;">    Pamiętaj!  </h6> <br>
            <p style="display: block; margin-left: 10%"> Żeby zadbać o innych musisz najpierw zadbać o siebie.  <p style="display: block; margin: 10%"> </p>

        </div>
     </div>
{% endblock content %}