{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center"> Twoje wyniki </h1>
    <div class="content-section">
        <div style="margin: 10px;">
            <h3 style="text-align: center"> Najlepszym ćwiczeniem dla Ciebie będą <br>
                <bold><a href="{{ url_for('miesnie') }}" style="color: olivedrab"> ćwiczenia z wykorzystaniem
                    mięśni </a></bold>
            </h3>


            <p style="display: block; margin: 5%"> Twoje ciało potrafi pomóc umysłowi się zrelaksować, tylko pozwól mu
                pokazać jak. Znajdź wygodne miejsce, otwórz okno by dotlenić organizm. </p>
            <p style="display: block; margin: 5%"> Pamiętaj!
                Regularność ćwiczeń jest kluczem do lepszego samopoczucia. </p>
        </div>

    </div>
{% endblock content %}