{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center"> Twoje wyniki </h1>
     <div class="content-section">
        <div style="margin: 10px;">
           <h3 style="text-align: center"> Najlepszym ćwiczeniem dla Ciebie będą <br> <bold> <a href="{{ url_for('wizualizacje') }}"> ćwiczenia wizualizacyjne </a> </bold> </h3>




       <p style="display: block">  Twoja wyobraźnia odgrywa ważną rolę w życiu. Wykorzystaj ją jako źródło niesamowitych wraże, które pozwolą ci
           oderwać się od stresującego dnia codziennego</p>
        </div>

     </div>
{% endblock content %}