{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center"> Twoje wyniki </h1>
     <div class="content-section">
        <div style="margin: 10px;">
           <h3 style="text-align: center"> Najlepszym ćwiczeniem dla Ciebie będą <br> <bold> <a href="{{ url_for('inne') }}"> różnorodne ćwiczenia </a> </bold> </h3>




       <p style="display: block">  Jesteś człowiekiem wszechstronnym, który lubi zmiany. Zajrzyj do różnych rodzajów ćwiczeń, spróbuj jednego dnia ćwiczenia oddechowe,
       a kolejnego np. wizualizacyjne. Baw się, próbuj i relaksuj :) </p>
        </div>

     </div>
{% endblock content %}