{% extends "layout.html" %}
{% block content %}
    <h1> Jak dobrać odpowiednie ćwiczenia? </h1>

       <div class="content-section">
        <div style="margin: 10px;">
           <h3> Łączenie technik, jak dobrać technikę </h3>
To, które techniki zastosujesz zależy oczywiście od Ciebie. Quiz umieszczony poniżej pomoże Ci obrać właściwą drogę, ale to Ty decydujesz, co będziesz wykonywał. <br> <br>

            <p style=" font-weight: bold"> Kilka rad</p>
•	Nie wykonuj zbyt dużej ilości ćwiczeń jednorazowo <br>
•	Na początek wybierz jeden rodzaj i kilka ćwiczeń i powtarzaj je jak najczęściej. <br>
•	Sprawdź jak ćwiczenia na Ciebie działają. Jeżeli dana technika nie relaksuje Cię albo zwiększa poczucie niepokoju zmień ją na inną <br>
•	Pamiętaj, że widoczne skutki można zobaczyć po kilku tygodniach <br>
•	Ćwiczenia najlepiej wykonywać codziennie <br>
</div>
           <div style="margin: 10px;">
 <h3>  W jakich schorzeniach pomaga relaksacja? </h3>
	<p style=" font-weight: bold"> •Lęk napadowy, niepokój, fobie </p> obniżenie i złagodzenie lęków różnego pochodzenia. Szczególnie pomocne okazały się ćwiczenia wykorzystujące świadomą pracę
                    z oddechem <br> <br>
               <p style=" font-weight: bold"> •Depresja </p>
     wspieranie leczenia depresji. Dobre wyniki dało połączenie terapii poznawczo-behawioralnej z technikami relaksacji np. wizualizacją czy praktykowaniem uważności <br> <br>

    <p style=" font-weight: bold"> •Ból głowy </p>
        zmniejszenie bólów głowy o podłożu napięciowym lub migrenowym. W niektórych przypadkach techniki okazały się bardziej skuteczne nuż leki. Pomagały zmniejszyć częstotliwość i intensywność bólów głowy. <br> <br>
    <p style=" font-weight: bold"> •Choroby serca  </p>
               obniżenie ciśnienia oraz stężenia lipidów, a tym samym
               zmniejszenie ryzyka powtórnego ataku serca.
               Stan zdrowia osób objętych programem rehabilitacji połączonej
               z praktykowaniem technik relaksacji okazał się znacznie
               lepszy w porównaniu ze stanem osób, które takich ćwiczeń
               nie wykonywały <br> <br>
    <p style=" font-weight: bold"> •Bezsenność </p>
        leczenie chronicznej bezsenności.
               W wyniku wyciszenia umysłu i rozluźnienia ciała obniżał
               się poziom kortyzolu i adrenaliny, co pozwalało zasnąć. <br>
    </div>
       </div>
{% endblock content %}