{% extends "layout.html" %}
{% block content %}
    <h1 style="margin: 10px"> Dlaczego relaks jest ważny? </h1>

       <div class="content-section">
            <div style="display: block">
            <h3> Problem z relaksem </h3>
            <p> Współczesnemu człowiekowi trudno się zrelaksować.
         Mózg musi przetwarzać miliony informacji na minutę.
         Osoba, której mózg funkcjonuje w trybie ciągłej aktywności
         i rozproszenia uwagi, nie potrafi się zrelaksować.
         Za tą sytuację odpowiedzialne są hormony stresu: adrenalina
         i kortyzol, których nadmiar zaburza wewnętrzną równowagę
          organizmu.
            </p>
                </div>
              <div style="display: block">

            <h3> Czym jest stres? </h3>

            <p>   Stres najprościej można zdefiniować jako reakcję organizmu
            w odpowiedzi na wydarzenia, które zakłócają jego równowagę,
            obciążają lub przekraczają  zdolności do skutecznego
            poradzenia sobie. Wspomniane wydarzenia zakłócające określamy
            jako stresory. Ich źródło może być zarówno fizyczne
            (np. hałas, przeludnienie, choroby, katastrofy naturalne) jak
            i społeczne (np. brak zatrudnienia, ciąża i poród, problemy
            rodzinne, utrata ukochanej osoby, przestępczość).
            </p>
              </div>
  <div style="display: block">
            <h3> Jak nadmiar stresu wpływa na organizm? </h3>
            <p>  Wszystkie drobne wskazówki jakie podświadomi rejestrujemy
            w trakcie wykonywania różnych czynności (np. ton głosu rozmówcy,
            kolor przejeżdżającego autobusu), jak również zmiany w naszym
            własnym, wewnętrznym krajobrazie (przełykanie, częstość oddechów)
            są łączone przez pojedynczy układ kontrolny.
            Wszystkie są efektem synchronizacji dwóch części autonomicznego
            układu nerwowego: <br>
•	współczulnej(sympatycznej) działającej niczym pedał gazu <br>
•	przywspółczulnej(parasympatycznej) pełniącej funkcję hamulca. <br>
            Współpracując, pełnią istotną funkcję w zarządzaniu przepływem energii.
                Jeden przygotowuje nas do jej wydatkowania, drugi- do zachowania.

            </p>
  </div>
      <div style="display: block">
      <h3> Zadanie: </h3>
 <p> Weź głęboki oddech- teraz pobudzasz współczulna część układu nerwowego. <br>
     Następuje wyrzut adrenaliny, która przyspiesza bicie serca. <br>
    Wypuść powietrze- pobudzasz przywspółczulny układ nerwowy, tętno spowalnia. <br>
    Kiedy zbyt często wciskamy pedał gazu organizm przeciąża się, co może prowadzić do różnych zaburzeń psychicznych i fizycznych.
 </p>
      </div>
        <div style="display: block" >
            <h3> Relaks pasywny </h3>
   <p>Aby wydajnie funkcjonować, potrzebujesz w ciągu dnia relaksu,
            czyli fizycznego i mentalnego spokoju.
            Może to być odpoczynek pasywny, czyli rodzaj wewnętrznego resetu.
            Przeprowadzasz go między innymi podczas czytania książki, oglądania filmu,
            siedzenia na ławce w parku czy oddawania się swojej pasji.
            Jeśli jednak poziom stresu znacząco wrasta. <br>
            To proste rozwiązania nie wystarczą.
            Nawet sen nie przyniesie człowiekowi odpoczynku.
            W takiej sytuacji skuteczne okazują się różnorodne techniki relaksacji.
  </p>
        </div>
   <div style="display: block">

            <h3> Czym są techniki relaksacji? </h3>
<p> Techniki relaksacji to specjalistyczne ćwiczenia, które pomagają
    odprężyć się fizycznie i psychicznie oraz usprawnić komunikację
    między umysłem a ciałem, która wprowadza w stan relaksu. <br>
Rodzaje technik relaksacji: <br>
•	techniki oddechowe, <br>
•	poczucie ciężkości i autosugestie, <br>
•	techniki z wykorzystaniem mięśni, <br>
•	wizualizacje,<br>
•	mindfullness,<br>
•	i wiele innych<br>
•	koherencja serca<br>
•	relaksacja  śmiechem.<br>
</p>
   </div>


</div>




{% endblock content %}
